:root {
  --color-primary: #E3B748;
  --color-bg: #1D1D1D;
  --color-white: #FFF;
  --color-black: #111;
  --text-black: #373737;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}
body{
  background-color: var(--color-bg);
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: var(--color-white);
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}